Test

<a href="javascript:window.alert(test.test('test string'));">Test</a>
<a href="javascript: console.log('Test Log');">Test Logging</a>
<a href="#" id="TestAjax">Test Ajax</a>
<a href="#" id="TestId">Test ID Route</a>