@{
    ViewBag.Title = "My Page Title";
}

<h2>Tests</h2>

<p>
    <a href="#" id="AlertTest">Alert Test</a><br />
    <a href="#" id="ConfirmTest">Confirm Test</a><br />
    <a href="#" id="PromptTest">Prompt Test</a><br />
    <a href="javascript: console.log('Test Log');">Console Logging Test</a><br />
    <a href="#" id="TestAjax">Ajax Request</a><br />
    <a href="#" id="TestId">ID Route With Space Test</a><br />
    @Html.ActionLink("Form Test", "FormTest")<br />
    <a href="http://google.com/">Unsafe Url</a><br />
</p>